@import "tailwindcss";

::selection{
  color: rgb(23, 23, 248);
}
body {
  width: 103%;
  font-family: "Tektur", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  overflow-x: hidden;
}
.curosr-scale{
  transition: scale .5s;
}
#button{
  background: rgb(244, 202, 124);
  cursor: pointer;
}
#button:hover .span-tag{
  top: -100%;
  transition: .8s;
}
#button::before{
  content: 'Watch Trailer';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0%;
  transition: .5s;
  background: rgb(244, 202, 124);
  display: flex;
  align-items: center;
  justify-content: center;

}
#button:hover::before{
  top: 0;
}

#more-soon{
  background: linear-gradient(-45deg, rgb(204, 0, 0), rgb(0, 0, 143), rgb(124, 0, 143),rgb(0, 95, 0) ,  rgb(141, 141, 0));
  background-size: 400% 400%;
  animation: gradientAnimation 5s infinite linear;
  margin: 0;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 100%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 0%; }
  100% { background-position: 0% 50%; }
}

#div{
  perspective: 1000px;
}
#img{
  transform: rotateY(20deg);
}

.btn-div{
  top: 0;
  filter: blur(20px);
}
#my-cursor{
  filter: blur(10px);
  position: absolute;
  z-index: 999;
  animation: cursor .3s linear;
}
@keyframes cursor {
  0%{
    scale: 0;
  }50%{
    scale: 1.5;
  }100%{
    scale: 2;
  }
}
#Header-p{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#Header-p::before{
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -100%;
  bottom: 0;

}
#Header-p:hover::before{
  left: 0;
  transition: .3s;
}
#Menu-icon{
  transition: all .5s;
}